{% extends "base.twig" %}

{% block main %}
	{% if erreur is not null %}
		<script type="text/javascript">window.alert("{{ erreur|escape('js') }}");</script>
	{% endif %}
	<h1 class="title" id="homeTitle">Bienvenue sur mon blog</h1>
	<div class="articles-list">
		{% for article in resumes %}
			<article class="article" onclick="location.href='/{{ article.slug }}?id={{ article.id }}'">
				<h3>Article {{ article["id"] }} : {{ article["titre"] }}</h3>
				<p>{{ article["date_mise_a_jour"] }}</p>
			</article>
		{% endfor %}
	</div>
{% endblock %}
