{% extends "base.twig" %}

{% block main %}
	<h1 class="title" id="articleTitle">Article {{ article["id"] }} : {{ article["titre"] }}</h1>
	<h2>Date de Mise à jour : {{ article["date_mise_a_jour"] }}</h2>
	<h3>Créé par {{ article["nom_utilisateur"] }} le {{ article["date_creation"] }}</h3>
	<article class="articleContent">{{ article["contenu"] }}</article>
{% endblock %}